*{
    margin: 0;
}

/* _____________________________above nav bar__________________________ */


.abovenav{
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    height: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.abovenav p{
    margin-left: 8%;
}

/* ______________________________ navbar________________________________ */

nav{
    background-color: rgb(44, 44, 44);
    width: 100%;
    height: 15vh;
    position: sticky;
    z-index: 11;
}

.logo{
    margin-left: 8%;
    align-items: center;
}